
    <!--Title-->
    <h2 class="primary-heading">Lista de tareas</h2>
  
  
    <div class="row">
      <div class="col-sm">
          
        <div class="list-group">
              <a href="#" class="list-group-item d-flex justify-content-between align-items-center" mdbWavesEffect *ngFor="let item of todoItems">
                  <td>{{item.name}}</td>
                  <i *ngIf="!item.isComplete" class="fa fa-exclamation fa-2x red-text pr-3" aria-hidden="true"></i>
                    <i *ngIf="item.isComplete" class="fa fa-thumbs-up fa-2x green-text pr-3" aria-hidden="true"></i>
              </a>
            </div>
      </div>
    </div>

